HYREST_USERNAME=<an onbase user>
HYREST_PASSWORD=<a password>
HYREST_CLIENTID=<client id>
HYREST_CLIENTSECRET=<client secret>
HYREST_APIURL=<api server url>
HYREST_IDSURL=<ids server url>
HYREST_USE_QUERY_LIC=true